*{
    box-sizing: border-box;
}
#icon {
    width: 40px;
}

body {
    background-color: #f9fafb !important;
}

a {
    text-decoration: none;
}
ul{
    list-style-type:none;
}




.btn-outline-success {
    color: #212529;
    border-color: #212529;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.10rem;
}
.navbar{
    background-color: #6c757dc2 !important;
}
.nav-link{
    color: #212529 !important;
}
.netlify-identity-menu{
    display: block;
}
.netlify-identity-item{
    display: inline-block;
    width: auto;
    border: #212529 2px solid;
    margin: 10px 3px 2px 3px;
}
.netlify-identity-login,
.netlify-identity-signup {
    text-align: center;
    display: block;
    color: black;
    width: 130px;

}





#slider{
    display: flex;
    position: relative;
    overflow-x: hidden;
    padding-top: 30px;
    height: 500px;
}
.slider-card{
    border-radius: 10% 0 10% 0;
    min-width: 200px;
    max-width: 200px;
    margin: 3px;
}
.slider-card:hover{
    transform: scale(1.04);
    transition-duration: 0.4s;
}






.container {
    clear: both;
    padding: 100px !important;
}
.row {
    margin-bottom: 20px;
}
.cont-card{
    border-radius: 10% 0 10% 0;
    min-width: 200px;
    margin: 3px;
}
.cont-list{
    border-radius: 10% 0 10% 0;
}
.card{
    border-radius: 10% 0 10% 0 ;
}
.card-body{
    padding: 8px;
    border-radius: 10% 0 10% 0;
}  
.card-group {
    justify-content: center;
}
.poster{
    border-radius: 10% 0 0 0;
    width: 100%;
}
.list-group-item{
    padding: 0;
}
#movieList{
    transition:transform .5s;
}




.carousel-control-next {
    position:  absolute;
    width: 100px;
    height: 200px;
    top: calc(50% - 100px);
    justify-content: center;
    
}
.carousel-control-prev {
    position:absolute;
    width: 100px;
    height: 200px;
    top: calc(50% - 100px);
    justify-content: center;
    
}
.carousel-control-prev-icon{
    background-image: url(/picture/arrow.png);
    transform: rotateY(180deg) ;
}
.carousel-control-next-icon{
background-image: url(/picture/arrow.png);
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    width: 6rem;
    height: 6rem;
}

@media (max-width: 767.98px) {

   


    .card:hover{
        transform: scale(1);
    }
}