*{
    box-sizing: border-box;
}
#icon {
    width: 40px;
}

body {
    background-color: #f9fafb !important;
}

a {
    text-decoration: none;
}






.btn-outline-success {
    color: #212529;
    border-color: #212529;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.10rem;
}
.navbar{
    background-color: #6c757dc2 !important;
}
.nav-link{
    color: #212529 !important;
}



.carousel-ul{
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden !important;
        box-sizing: border-box;
        width: 90%;
        border: black solid 2px;
        float:left;
   }
.carousel-li:hover {
        transform: scale(1.04);
        transition-duration: 0.2s;
   }
.carousel-li{
       padding: 1px !important;
   }
.carousel-btn{
       float: left;
       display:inline;
       height:120px;
       clear: right;
   }



#slider{
    display: flex;
    overflow-x: scroll;
    padding-top: 30px;
    height: 500px;
}
.container{
    clear: both;
    padding: 100px !important;
}
.card{
    border-radius: 10% 0 10% 0;
    margin-right: 4%;
    margin-bottom: 6%;
    min-width: 200px;
    max-width: 200px;
    margin: 0 30px 0 0;
}
.card:hover{
    transform: scale(1.04);
    transition-duration: 0.4s;
}
.card-body{

    padding: 8px;
}

.card-group {
    justify-content: center;
}
.poster{
    border-radius: 10% 0 0 0;
    width: 200px;
}
.list-group-item{
    padding: 0;
}


.carousel-control-next {
    
    width: 100px;
    justify-content: flex-start;
}



.carousel-control-prev {
    width: 100px;
    justify-content: flex-end;
}
.carousel-control-prev-icon{
    background-image: url(/picture/arrow.png);
    transform: rotateY(180deg);
}
.carousel-control-next-icon{
background-image: url(/picture/arrow.png);
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
    width: 6rem;
    height: 6rem;
}


